body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #484f53; /* Cor de fundo */
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
    color: white; /* Cor do título */
}

label {
    color: white; /* Cor da label */
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4ca2af; /* Cor do botão */
    color: white; /* Cor do texto do botão */
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #387e89; /* Cor do botão ao passar o mouse */
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 50%; /* Largura da tabela */
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #4ca2af; /* Borda da tabela */
    color: white; /* Cor do texto */
}

thead {
    background-color: #4ca2af; /* Cor do cabeçalho da tabela */
}
